*{
  margin: 0;
  padding: 0;
}
.template-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #17141e;
  overflow-y: scroll;
}



#template{
  position: relative;
  height: 40%;
  width: 20%;
  float: left;
  background: #171425;
  margin:20px;
  box-shadow: 0px 15px 30px black;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  overflow: hidden;
}

#template:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 5px 5px 50px black;
  background: white;
  color:black;
}


@media only screen and (max-width:900px){

  #template{
    height: 38%;
    width: 280px;
  }
}

@media only screen and (max-width:600px){

  #template{
    height: 35%;
    width: 400px;
  }

}
  @media only screen and (max-width:400px){

    #template{
      height: 35%;
      width: 90%;
    }
}

#product-images{
  display: flex;
  width:400%;
  height: 100%;
}
.product-image{
  position: relative;
  height: 60%;
  width: 25%;
  left: 0%;
}
.pro-img{
  position: relative;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.icon{
  position: absolute;
  top:32%;
  z-index: 1;
  color: white;
}
.prev{
  left: 6px;
}
.next{
  right: 6px;
}

.prev:hover, .next:hover{
  cursor: pointer;
}

#product-detail{
  position: relative;
  text-align: left;
  padding: 7px;
  top: -40%;
}

.tags{
  font-size: 0.8em;
}
#template:hover .tags{
  font-weight: bold;
}
#template:hover #place,
#template:hover #upload-time{
  filter: opacity(1);
  font-weight: bold;
}
#offer-price{
  color : green;

}

#market-price{
  color: red;
}

#saving-price{
  color: orange;
}


#place, #upload-time{
  position: absolute;
  bottom: -20px;
  font-size: .7em;
  filter:opacity(.5);
}

#place{
  left: 7px;

}
#upload-time{
  right: 7px;
}

@media only screen and (max-width:900px){

  #place,
  #upload-time{
    position: absolute;
    bottom: -10px;
  }
}

@media only screen and (max-width:600px){

  #place,
  #upload-time{
    position: absolute;
    bottom: -5px;
  }

}
  @media only screen and (max-width:400px){

    #place,
    #upload-time{
      position: absolute;
      bottom: -5px;
    }
}
